@font-face {
  font-family: "WCManoNegra";
  src: url("WCManoNegraBta-webfont.woff");
}
body {
  margin: 0;
  min-height: 100vh;
  background: -webkit-linear-gradient(-45deg, #1d1d1d 0%, #353535 70%);
  background: linear-gradient(-45deg, #1d1d1d 0%, #353535 70%);
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes intro {
  0% {
    width: 10px;
    height: 10px;
  }
  30% {
    width: 120px;
    height: 10px;
  }
  60% {
    width: 120px;
    height: 50px;
    transform: translateX(0px);
  }
  100% {
    transform: translateX(100px);
  }
}
@keyframes enda {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.container {
  display: block;
  width: 100%;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.navbar {
  display: inherit;
  height: 50px;
  margin-top: 0;
  margin-bottom: 0px;
}
.navbar .brand {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  clear: both;
  text-align: center;
  background-color: #fffb00;
  z-index: 2;
}
.navbar .brand .nav-trigger, .navbar .brand .logo {
  margin: auto 15px;
}
.navbar .nav {
  position: relative;
  bottom: 50px;
  list-style: none;
  padding-left: 0;
  height: 50px;
  background-color: #dddddd;
  border-bottom: 3px solid #fffb00;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  transition: all 0.3s;
}
.navbar .nav.open {
  transform: translateY(50px);
}
.navbar .nav li {
  text-align: center;
}
.navbar .nav li a {
  color: #040404;
}
.navbar .nav li a:visited, .navbar .nav li a:link, .navbar .nav li a:hover {
  text-decoration: none;
}
.navbar .nav li a i {
  display: none;
}

.logo {
  width: 120px;
  height: 50px;
  background-color: #fffb00;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo span {
  opacity: 0;
  z-index: 0;
  font-size: 24px;
  font-family: WCManoNegra;
  -webkit-animation: enda 0.2s ease 0.5s 1 forwards;
  -moz-animation: enda 0.2s ease 0.5s 1 forwards;
  -o-animation: enda 0.2s ease 0.5s 1 forwards;
  animation: enda 0.2s ease 0.5s 1 forwards;
}

.logo::before {
  content: " ";
  display: block;
  width: 50px;
  height: 50px;
  background: white;
  position: absolute;
  bottom: 0;
  animation-name: intro;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  z-index: 1;
}

/*
@media (min-width: 600px){

    .navbar{
        width: 90%;
        margin: auto;
        background-color: $background-colour;
        border-bottom: 3px solid $highlight-colour;
        display: flex;
        justify-content: space-between;
        .brand{
            display: inline-block;
            .nav-trigger{
                display: none;
            }
        }
        .nav{
            display: flex;
            position: static;
            border-bottom: none;
            background-color: transparent;
            box-sizing: border-box;
            li a{
                display: block;
                align-items: center;
                color: rgb(240, 240, 240);
                padding: {
                    top: auto;
                    bottom: auto;
                    left: 20px;
                    right: 20px;
                }
            }
        }
    }

}*/

/*# sourceMappingURL=style.css.map */
