$highlight-colour: rgb(255, 251, 0);
$background-colour: rgb(53, 53, 53);
$alt-background-colour: rgb(221, 221, 221);
$text-colour: $highlight-colour;
$alt-text-colour: white;
@mixin box-sizing($sizing){
    -webkit-box-sizing: $sizing;
    -moz-box-sizing: $sizing;
    box-sizing: $sizing;
}

@mixin animate($args){
    -webkit-animation: unquote($args);
    -moz-animation: unquote($args);
    -o-animation: unquote($args);
    animation: unquote($args);

}
@font-face {
    font-family: 'WCManoNegra';
    src: url('WCManoNegraBta-webfont.woff')
}
body{
    background: -webkit-linear-gradient(-45deg, rgb(29, 29, 29) 0%, #353535 70%);
    background: linear-gradient(-45deg, rgb(29, 29, 29) 0%, #353535 70%);
    background-repeat: no-repeat;
    background-size: auto 100%;
    overflow: scroll !important;
}
@keyframes intro {
    0% {
      width: 10px;
      height: 10px;
    }
    30% {
      width: 120px;
      height: 10px;
    }
    60% {
      width: 120px;
      height: 50px;
      transform: translateX(0px)
    }
    100% {
      transform: translateX(100px)
    }
  }

  @keyframes enda {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

header#top-nav {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 2000;
    nav {
        border: none;
        border-radius: 0;
        margin: 0;
    }
}
section#welcome-section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    .skillsthumb{
        height: 30px;
        margin: 20px;
        margin-left: 0;
    }
}
button.action{
    margin: 0;
}
section:not(#welcome-section){
    text-align: center;
    //background-color: $alt-background-colour;
    header{
        background-color: $alt-background-colour;
        color: black;
    }
    .row {
        justify-content: space-around !important;
        padding: {
        top: 20px;
        bottom: 20px;
        }
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
        opacity: 0;
        border-color: #888;
    }
    20%{
        opacity: 1;
    }
    50%{
        border-color: #888;
    }
    60%{
        border-color: rgb(255, 221, 0);
    }
    80%{
        opacity: 1;
    }
    100%{
        transform: rotate(90deg);
        opacity: 0;
        border-color: rgb(255, 221, 0);
    }
}
.rotate {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    background: black;
    justify-content: center;
    align-items: center;
    z-index: 100000000000;
    .phone {
        width: 90px;
        height: 50px;
        border: 3px solid #888;
        border: {
            radius: 5px;
            left-width: 12px;
            right-width: 12px;
        }
        animation-name: rotate;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
}

@media (orientation: landscape) and (max-width: 728px){
    .rotate {
        display: flex;
    }
}

@media (orientation: portrait) and (min-width: 728px){
    #welcome-section{
        max-height: 600px;
    }
}

